
<div *ngIf="address">
    <h2><span>Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Street</span></dt>
        <dd>
            <span>{{address.street}}</span>
        </dd>
        <dt><span>Line</span></dt>
        <dd>
            <span>{{address.line}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span>County</span></dt>
        <dd>
            <span>{{address.county}}</span>
        </dd>
        <dt><span>Postal Code</span></dt>
        <dd>
            <span>{{address.postalCode}}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span>Patient</span></dt>
        <dd>
            <div *ngIf="address.patient">
                <a [routerLink]="['/patient', address.patient?.id]">{{address.patient?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
