<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCareEventLabel">Create or edit a Care Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!careEvent.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="careEvent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="careEvent.type" id="field_type"  required>
                <option value="SCHEDULED">SCHEDULED</option>
                <option value="AD_HOC">AD_HOC</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_timepoint">Timepoint</label>
            <select class="form-control" id="field_timepoint" name="timepoint" [(ngModel)]="careEvent.timepoint" >
                <option [ngValue]="null"></option>
                <option [ngValue]="timepointOption.id === careEvent.timepoint?.id ? careEvent.timepoint : timepointOption" *ngFor="let timepointOption of timepoints; trackBy: trackTimepointById">{{timepointOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="careEvent.patient"  required>
                <option *ngIf="!editForm.value.patient" [ngValue]="null" selected></option>
                <option [ngValue]="patientOption.id === careEvent.patient?.id ? careEvent.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.patient?.dirty && editForm.controls.patient?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.patient?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_followupPlan">Followup Plan</label>
            <select class="form-control" id="field_followupPlan" name="followupPlan" [(ngModel)]="careEvent.followupPlan"  required>
                <option *ngIf="!editForm.value.followupPlan" [ngValue]="null" selected></option>
                <option [ngValue]="followupPlanOption.id === careEvent.followupPlan?.id ? careEvent.followupPlan : followupPlanOption" *ngFor="let followupPlanOption of followupplans; trackBy: trackFollowupPlanById">{{followupPlanOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.followupPlan?.dirty && editForm.controls.followupPlan?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.followupPlan?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
