<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPatientLabel">Create or edit a Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-control-label" for="field_familyName">Family Name</label>
                <input type="text" class="form-control" name="familyName" id="field_familyName"
                       [(ngModel)]="patient.familyName" required/>
                <div [hidden]="!(editForm.controls.familyName?.dirty && editForm.controls.familyName?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.familyName?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" for="field_givenName">Given Name</label>
                <input type="text" class="form-control" name="givenName" id="field_givenName"
                       [(ngModel)]="patient.givenName" required/>
                <div [hidden]="!(editForm.controls.givenName?.dirty && editForm.controls.givenName?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.givenName?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-control-label" for="field_birthDate">Birth Date</label>
                <my-date-picker class="form-control" id="field_birthDate" name="birthDate" [options]="datePickerOptions"
                                (dateChanged)="onDateChanged($event)" [selDate]="selectedDate" required></my-date-picker>
                <div [hidden]="!(editForm.controls.birthDate?.dirty && editForm.controls.birthDate?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.birthDate?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <label class="form-control-label" for="field_gender">Gender</label>
                <select class="form-control" name="gender" [(ngModel)]="patient.gender" id="field_gender" >
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                    <option value="OTHER">OTHER</option>
                    <option value="UNKNOWN">UNKNOWN</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="form-control-label" for="field_nhsNumber">Nhs Number</label>
                <input type="number" class="form-control" name="nhsNumber" id="field_nhsNumber"
                       [(ngModel)]="patient.nhsNumber" />
            </div>
            <div class="col-md-6">
                <label class="form-control-label" for="field_email">Email</label>
                <input type="text" class="form-control" name="email" id="field_email"
                       [(ngModel)]="patient.email" />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
