
<div *ngIf="questionnaire">
    <h2>
        <span>Questionnaire : </span> {{questionnaire.name}}
        <div class="btn-group float-right" role="group">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/', { outlets: { popup: 'questionnaire/'+ questionnaire.id + '/edit'} }]"
                    replaceUrl="true"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{questionnaire.name}}</span>
        </dd>
        <dt><span>Copyright</span></dt>
        <dd>
            <span>{{questionnaire.copyright}}</span>
        </dd>
        <dt><span>Reference</span></dt>
        <dd>
            <span>{{questionnaire.reference}}</span>
        </dd>
    </dl>
</div>
