<div>
    <h2>
        <span>Questionnaires</span>
        <button class="btn btn-primary float-right jh-create-entity create-questionnaire" [routerLink]="['/', { outlets: { popup: ['questionnaire-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Questionnaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="questionnaires">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="copyright"><span>Copyright</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reference"><span>Reference</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let questionnaire of questionnaires ;trackBy: trackId">
                <!--<td><a [routerLink]="['../questionnaire', questionnaire.id ]">{{questionnaire.id}}</a></td>-->
                <td><a [routerLink]="['../questionnaire', questionnaire.id ]">{{questionnaire.name}}</a></td>
                <td>{{questionnaire.copyright}}</td>
                <td>{{questionnaire.reference}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'" class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../questionnaire', questionnaire.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'questionnaire/'+ questionnaire.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'questionnaire/'+ questionnaire.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="questionnaires && questionnaires.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
