<h4>{{followupAction?.name}}</h4>
<form #qForm="ngForm" (ngSubmit)="submitData(qForm.value)">

    <h4>Questions: How severe was your ankle pain:</h4>

    <div class="form-group">
        <label for="p1">1. At its worst? </label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.p1" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="p1" name="p1" (ngModelChange)="onChange($event, 'p1')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 being no pain and 100 being worst pain.
        </small>
    </div>

    <div class="form-group">
        <label for="p2">2. Before you get up in the morning?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.p2" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="p2" name="p2" (ngModelChange)="onChange($event, 'p2')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 being no pain and 100 being worst pain.
        </small>
    </div>

    <div class="form-group">
        <label for="p5">5. When you walked wearing shoes?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.p5" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="p5" name="p5" (ngModelChange)="onChange($event, 'p5')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 being no pain and 100 being worst pain.
        </small>
    </div>

    <div class="form-group alert alert-info">
        The line next to each item represents the amount of difficulty you had performing an activity.
        On the far left is “No difficulty” and on the far right is “So difficult unable”. Place a mark on the line
        to indicate how much difficulty you had performing each activity because of your ankle during the past week.
        If you did not perform an activity during the past week, mark that item NA.
    </div>

    <h4>Questions: How much difficulty did you have:</h4>

    <div class="form-group">
        <label for="d1">1. Walking around the house?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.d1" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="d1" name="d1" (ngModelChange)="onChange($event, 'd1')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 is “No difficulty” and 100 is “So difficult unable”.
        </small>
    </div>

    <div class="form-group">
        <label for="d3">3. Walking four blocks or more?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.d3" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="d3" name="d3" (ngModelChange)="onChange($event, 'd3')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 is “No difficulty” and 100 is “So difficult unable”.
        </small>
    </div>

    <div class="form-group">
        <label for="d6">6.Standing on tip toes?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.d6" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="d6" name="d6" (ngModelChange)="onChange($event, 'd6')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 is “No difficulty” and 100 is “So difficult unable”.
        </small>
    </div>

    <div class="form-group">
        <label for="d7">7. Getting out of a chair?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.d7" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="d7" name="d7" (ngModelChange)="onChange($event, 'd7')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 is “No difficulty” and 100 is “So difficult unable”.
        </small>
    </div>

    <div class="form-group">
        <label for="d9">9. Walking fast or running?</label>
        <nouislider [min]="0" [max]="100" [step]="1" [(ngModel)]="formData.d9" [tooltips]="[true ]" style="margin-top: 2em;"
                    id="d9" name="d9" (ngModelChange)="onChange($event, 'd9')"></nouislider>
        <small class="form-text text-muted">
            On a scale of 0 to 100, with 0 is “No difficulty” and 100 is “So difficult unable”.
        </small>
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea [(ngModel)]="followupAction.outcomeComment" id="comment" class="form-control" name="comment" rows="5" cols="40"></textarea>
    </div>

    <div class="form-group">
        <label for="outcomeScore">Outcome Score</label>
        <input type="number" [(ngModel)]="followupAction.outcomeScore" id="outcomeScore" class="form-control" name="outcomeScore"/>
    </div>
    <div [hidden]="!(qForm.controls.outcomeScore?.dirty && qForm.controls.outcomeScore?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!qForm.controls.outcomeScore?.errors?.required">
            This field is required.
        </small>
    </div>

    <br>
    <button type="submit" class="btn btn-info">Submit</button>
    <br>
</form>
