<div class="row m-1">
    <div class="col-md-3 alert alert-info">
        <h4>Enter your PROMs Outcomes data</h4>
        <p>Use patient entry to search existing patients and add data!</p>
    </div>
    <div class="col-md-9">
        <jhi-alert></jhi-alert>
        <form name="editForm" [style.min-height]="formHeight" role="form" novalidate #editForm="ngForm">

            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="field_patient">Patient</label>
                    <div class="col-sm-10">
                        <ng-select class="form-control" name="patient" id="field_patient"
                                   placeholder="Select patient"
                                   filterPlaceholder="Enter name or NHS number to search..."
                                   (noOptionsFound)="filterInputChanged($event)"
                                   [options]="patients"
                                   (selected)="onPatientSelected($event)"
                                   [(ngModel)]="patientId">
                        </ng-select>
                    </div>
                    <div [hidden]="!(editForm.controls.patient?.dirty && editForm.controls.patient?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.patient?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div *ngIf="followupAction?.patient?.id" class="form-group row">
                    <label class="col-sm-2 col-form-label" for="field_questionnaire">Procedure</label>
                    <div class="col-sm-10">
                        <div class="table-responsive">
                            <h6>
                                Select existing Procedure Bookings
                                <a class="btn btn-outline-success float-right jh-create-entity create-procedure-booking btn-sm mb-2" [routerLink]="['/', { outlets: { popup: 'procedure-booking/'+ followupAction?.patient?.id + '/create'} }]"
                                   replaceUrl="true">New Procedure Booking</a>
                            </h6>
                            <table *ngIf="procedureBookings && procedureBookings.length > 0" class="table table-striped">
                                <thead>
                                <tr>
                                    <th><span>Consultant Name</span></th>
                                    <th><span>Hospital Site</span></th>
                                    <th><span>Performed Date</span></th>
                                    <th><span>Primary Procedure</span></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let procedureBooking of procedureBookings">
                                    <td>{{procedureBooking.consultantName}}</td>
                                    <td>{{procedureBooking.hospitalSite}}</td>
                                    <td>{{procedureBooking.performedDate | date:'medium'}}</td>
                                    <td>
                                        {{proceduresLookup[procedureBooking.primaryProcedure].label}}
                                        <span class="alert-danger" *ngIf="procedureBooking.side">[{{procedureBooking.side}}]</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" (change)="onBookingSelected(procedureBooking)" type="radio"
                                                       name="selectedProcedureBooking" [value]="procedureBooking"
                                                       [checked]="procedureBooking === selectedProcedureBooking">
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div [hidden]="!(editForm.controls.questionnaire?.dirty && editForm.controls.questionnaire?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.questionnaire?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div *ngIf="selectedProcedureBooking" class="form-group row">
                    <label class="col-sm-2 form-control-label" for="field_phase">Phase</label>
                    <div class="col-sm-10" id="field_phase">
                        <div *ngFor="let careEvent of careEvents;" class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" id="careEventCheckbox" type="radio" name="careEvent"
                                       (change)="onCareEventSelected(careEvent)" name="selectedCareEvent"
                                       [checked]="careEvent === selectedCareEvent" value="careEvent"
                                       [disabled]="careEvent.status !== 'STARTED'">
                                {{careEvent?.timepoint?.name}} <span *ngIf="careEvent.status !== 'STARTED'">[InActive]</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedCareEvent" class="form-group row">
                    <label class="col-sm-2 form-control-label" for="field_questionnaire">Questionnaire</label>
                    <div class="col-sm-10 container-fluid">
                        <div *ngIf="selectedCareEvent" class="btn-group btn-group-toggle" id="field_questionnaire"
                             ngbRadioGroup name="radioBasic" [(ngModel)]="followupAction">
                            <label ngbButtonLabel class="btn-outline-info btn-sm" *ngFor="let q of followupActions">
                                <input ngbButton type="radio" [value]="q"> {{q.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="followupAction?.name" class="m-1 alert alert-dark">
                <div class="container-fluid" *ngIf="followupAction.name == 'MOXFQ'">
                    <moxfq-component [followupAction]="followupAction" [(isEditing)]="isEditing"></moxfq-component>
                </div>
                <div class="container-fluid" *ngIf="followupAction.name == 'PAIN VAS'">
                    <painvas-component [followupAction]="followupAction" [(isEditing)]="isEditing"></painvas-component>
                </div>
                <div class="container-fluid" *ngIf="followupAction.name == 'AOFAS'">
                    <aofas-component [followupAction]="followupAction" [(isEditing)]="isEditing"></aofas-component>
                </div>
                <div class="container-fluid" *ngIf="followupAction.name == 'AOS'">
                    <aos-component [followupAction]="followupAction" [(isEditing)]="isEditing"></aos-component>
                </div>
                <div class="container-fluid" *ngIf="followupAction.name == 'COFAS-AOS'">
                    <cofas-component [followupAction]="followupAction" [(isEditing)]="isEditing"></cofas-component>
                </div>
                <div class="container-fluid" *ngIf="followupAction.name == 'EQ-5D 3L INDEX'">
                    <eq5d3l-component [followupAction]="followupAction" [(isEditing)]="isEditing"></eq5d3l-component>
                </div>
            </div>
        </form>
    </div>
</div>
