<div>
    <h2>
        <span>Procedure Bookings</span>
        <button class="btn btn-primary float-right jh-create-entity create-procedure-booking" [routerLink]="['/', { outlets: { popup: ['procedure-booking-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Procedure Booking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="procedureBookings">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="consultantName"><span>Consultant Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hospitalSite"><span>Hospital Site</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="patient.id"><span>Patient</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scheduledDate"><span>Scheduled Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="performedDate"><span>Performed Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="primaryProcedure"><span>Primary Procedure</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="otherProcedures"><span>Other Procedures</span> <span class="fa fa-sort"></span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let procedureBooking of procedureBookings ;trackBy: trackId">
                <!--<td><a [routerLink]="['../procedure-booking', procedureBooking.id ]">{{procedureBooking.id}}</a></td>-->
                <td>{{procedureBooking.consultantName}}</td>
                <td>{{procedureBooking.hospitalSite}}</td>
                <td>
                    <div *ngIf="procedureBooking.patient">
                        <a [routerLink]="['../patient', procedureBooking.patient?.id ]" >{{procedureBooking.patient?.givenName}} {{procedureBooking.patient?.familyName}}</a>
                    </div>
                </td>
                <td>{{procedureBooking.scheduledDate | date:'medium'}}</td>
                <td>{{procedureBooking.performedDate | date:'medium'}}</td>
                <td>{{procedureBooking.primaryProcedure}}</td>
                <!--<td>{{procedureBooking.otherProcedures}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../procedure-booking', procedureBooking.id ]"
                                class="btn btn-outline-info btn-xs">
                            <!--<span class="fa fa-eye"></span>-->
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit"
                                [routerLink]="['/', { outlets: { popup: 'procedure-booking/'+ procedureBooking.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"  type="submit"
                                [routerLink]="['/', { outlets: { popup: 'procedure-booking/'+ procedureBooking.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="procedureBookings && procedureBookings.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
